<div>
<h2>About the Developer</h2>
<p>John Weatheritt is a software developer in the north east of Scotland.</p>
<a href="https://www.linkedin.com/in/john-weatheritt-9a8124192/">LinkedIn Profile</a> 
<p>Please get in touch.</p>

<h2>Technologies Used</h2>
<ul>
    <li>.NET 7.0</li>
    <li>Angular</li>
    <li>Postgres</li>
    <li>Github</li>
    <li>Docker</li>

</ul>
<h2>Future Work</h2>
<p>It would be great to adapt this project to provide more information about local cycling routes and the weather forecast.</p>
</div>